.client {
  display: flex;
  gap:8px;

  .ad-img {
    width: 32px;
    height: 32px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    flex: 1;

  }
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;

  text-align: center;

  .ad-card {
    margin-top: 30vh;
  }
}
