<div class="ad-divider">
  {{aircraft.name}} : Communication Logs
</div>

<div class="ad-list ad-sm ad-flat ad-ellipse">
  <div class="ad-item bg-smoke">
    <span>
      Date
    </span>
    <span style="flex:1">
      Request
    </span>
    <span>
      Response
    </span>
  </div>
  <div class="ad-item bg-smoke">
    <span>
      Date
    </span>
    <span style="flex:1">
      Request
    </span>
    <span>
      Response
    </span>
  </div>
  <div class="ad-item bg-smoke">
    <span>
      Date
    </span>
    <span style="flex:1">
      Request
    </span>
    <span>
      Response
    </span>
  </div>

</div>
