<div class="ad-divider">
  {{aircraft.name}} : Communication Logs
</div>

<div class="ad-list ad-sm ad-flat ad-ellipse">
  <div *ngFor="let item of data" class="ad-item bg-smoke">
    <span>
      {{item.created}}
    </span>
    <span style="flex:1">
      {{item.intent}}
    </span>
    <span>
      {{item.response}}
    </span>
  </div>
</div>


<div class="ad-card ad-flat text-center" *ngIf="!isLoading && data.length === 0">
  <p>
    <i class="axl ax-message ax-3x"></i>
    <br>
    <br>
    No Request Logs Found
  </p>
  <p></p>
</div>
