.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.form-data {
  z-index: 20;
  width: 300px !important;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  display: none;

  &.ad-show {
    display: block;
  }
}
