<div class="center-login-card">
  <div class="ad-card bg-white ad-ellipse ad-flat">
    <div class="paddingx" style="padding-top: 8px;">
      <div class="text-center">
        <div class="ad-img">
          <img src="/assets/images/logo/logo.png" />
        </div>
        <h1 class="text-normal">airSuite</h1>
      </div>
      <form #loginForm="ngForm">
        <div class="ad-input ad-round ad-label">
          <label for="name">Sign-in address</label>
          <input type="text" placeholder="eg. kofi@mybizcode.dex" name="username" [(ngModel)]="login.username" required
            [readOnly]="isLoading" />
        </div>
        <div class="ad-input ad-round ad-label">
          <label for="password">Password</label>
          <input type="password" placeholder="******" name="password" [(ngModel)]="login.password" required
            [readOnly]="isLoading" />
        </div>
        <p class="margin-top:0">
          <button [disabled]="isLoading || loginForm.invalid" class="ad-btn ad-sm ad-flat ad-round btn-dark ad-full"
            (click)="onSignIn()" [class.is-loading]="isLoading">
            Login
          </button>
        </p>
      </form>
      <div class="text-center" style="padding-bottom: 8px;">
        <br />
        <span class="padding-sm" style="opacity: 0.4;">
          from
          <a href="https://aiira.co" target="_blank"><i style="transform: scale(1) translateY(4px);"
              class="axl ax-brand-aiira"></i>
            i i r a . c o</a>
        </span>
      </div>
    </div>
  </div>
</div>
